@media screen {
	.printonly {
		display: none !important;
	}
}

@media print {
	.screenonly {
		display: none !important;
	}
	* {
		color: #000 !important;
	}
	header, .container {
		padding-left: 0;
		padding-right: 0;
	}
	article {
		padding: 0;
	}
	.whoami {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.whoami article {
		margin-right: 1rem;
		max-width: 50%;
	}
	.presentation {
		text-align: justify;
	}
	.network {
		display: none;
	}
	.work a {
		padding: 0;
	}
}
