/* style global du document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans;
	color: #333;
}
header, .container {
	padding: 0 5%;
}
.container {
	font-size: 0.8rem;
}

/* couleur de fond de la page */
body {
	background-color: #F2F2F2;
}

/* style du bandeau en tête de page */
header {
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #00B2B2;
}
h1,
h1 small {
	display: block;
	font-weight: 400;
	color: #FFF;
}

/* division de la page en trois colonnes */
.container {
	display: flex;
	flex-wrap: wrap;
}
header {
	width: 100%;
}
.whoami {
	width: 20%;
	padding-right: 10px;
}
.work {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}
.skills {
	width: 30%;
	padding-left: 10px;
}

/* format des blocs */
article {
	margin-bottom: 20px;
	padding: 15px;
}

/* format des blocs de la première colonne */
.whoami article {
	background-color: #00B2B2;
}
.whoami * {
	color: #FFF;
}
.whoami h3 {
	margin-bottom: 10px;
	font-size: 0.9em;
	font-weight: 400;
	text-transform: uppercase;
}
.address {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
}
.network a {
	display: block;
}

/* format des blocs des colonnes du centre et de droite */
.work article,
.skills article {
	background-color: #FFF;
}
.work h2,
.skills h2 {
	margin-bottom: 5px;
	font-size: 1.2rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #00B2B2;

}
.work h3,
.skills h3 {
	font-size: 1rem;
	font-weight: 600;
	color: #FF5E00;
}

/* format des listes de la colonne de droite */
.skills ul {
	padding-left: 10px;
}
