/* structure du document */
page {
	font-family: sans-serif;
}

section {
	display: block;
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	text-align: center;
}

article {
	display: inline-block;
	max-width: 90%;
	margin: 10px auto;
	padding: 20px;
	background-color: #CDCDCD;
	border: 1px solid #BBBBBB;
	border-radius: 4px;
}

section:first-child article {
	max-width: 42.5%;
}

/* style du bloc "identite" */
section:first-child {
	min-height: 200px;
}

section:first-child article:first-child {
	float: left;
}

section:first-child article:last-child {
	float: right;
}

section:first-child article:last-child::after {
	clear: both;
}

prenom {
	text-transform: capitalize;
}

nom {
	text-transform: uppercase;
}

naissance {
	display: block;
}

/* style du bloc "contact" */
rue::after {
	content: '';
	display: block;
}

pays,tel,mail {
	display: block;
}

adresse::after {
	content: '-----';
	display: block;
}

ville {
	text-transform: capitalize;
}

pays {
	text-transform: uppercase;
}