/* structure du document */
* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

section {
	width: 90%;
	margin: 0 auto -3px auto;
	padding: 20px;
	background-color: #F5F5F5;
	border: 3px solid #E3E3E3;
	border-top-style: dashed;
	border-bottom-style: none;
	border-radius: 15px;
}
section:first-child {
	border-top-style: solid;
}
section:last-child {
	border-bottom-style: solid;
}

article {
	margin: auto;
	padding: 20px;
	background-color: #CDCDCD;
	border: 3px solid #BBBBBB;
	border-radius: 15px;
}

/* style du texte */
p {
	display: inline;
	margin: 0;
	font-size: 0.8em;
	font-weight: 700;
}

h1 {
	width: 100%;
	margin: 5px 0 20px 0;
	text-align: center;
	font-size: 2em;
}

h2 {
	margin: 0 0 5px 0;
	text-align: center;
	font-size: 1em;
	font-weight: 700;
}

.small {
	font-weight: 300;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

/* style de la première section (articles "identite" et "adresse") */
section:first-child {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

/* style de la deuxième section (article "formation") */
section:nth-child(2) div {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

section:nth-child(2) article {
	width: 100%;
	margin-bottom: -3px;
	border-top-style: dashed;
	border-bottom-style: none;
}
section:nth-child(2) article:first-child {
	margin-top: 10px;
	border-top-style: solid;
}
section:nth-child(2) article:last-child {
	margin-bottom: 10px;
	border-bottom-style: solid;
}

/* style de la dernière section (articles "competence" et "experience") */
section:last-child {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 20px;
}

section:last-child div {
	margin: 5px auto;
}

section:last-child article {
	margin: 0 0 -3px 0;
	border-top-style: dashed;
	border-bottom-style: none;
}

section:last-child div:first-child article,
section:last-child div:last-child article:first-child {
	border-top-style: solid;
}

section:last-child div:first-child article,
section:last-child div:last-child article:last-child {
	border-bottom-style: solid;
}

section:last-child div:first-child article p:nth-last-child(2) {
	visibility: hidden;
}
