/* structure du document */
page {
	font-family: sans-serif;
}

section {
	display: block;
	width: 90%;
	margin: 0 auto -3px auto;
	padding: 20px;
	background-color: #F5F5F5;
	border-width: 3px;
	border-color:#E3E3E3;
	border-top-style: dashed;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-style: solid;
	border-radius: 15px;
	text-align: center;
}

section:first-child {
	margin-top: 20px;
	border-top-style: solid;
}

section:last-child {
	margin-bottom: 20px;
	border-bottom-style: solid;
}

article {
	display: inline-block;
	max-width: 90%;
	margin: 10px auto;
	padding: 20px;
	background-color: #CDCDCD;
	border: 3px solid #BBBBBB;
	border-radius: 15px;
}

/* style de la première section (articles "identite" et "adresse") */
section:first-child {
	overflow: hidden;
}

section:first-child article {
	max-width: 42.5%;
}

/* style du bloc "identite" */
section:first-child article:first-child {
	float: left;
	text-align: left;
}

prenom {
	text-transform: capitalize;
}

nom {
	text-transform: uppercase;
}

naissance::before {
	content: 'né le : ';
	display: inline;
	font-size: 0.8em;
	font-weight: 700;
}

naissance {
	display: block;
}

site::before {
	content: 'site web : ';
	display: inline;
	font-size: 0.8em;
	font-weight: 700;
}

/* style du bloc "contact" */
section:first-child article:last-child {
	float: right;
	text-align: left;
}

adresse::before {
	content: 'adresse : ';
	display: block;
	font-size: 0.8em;
	font-weight: 700;
}

rue::after {
	content: '';
	display: block;
}

adresse::after {
	content: '-----';
	display: block;
	font-size: 0.8em;
	font-weight: 700;
}

ville {
	text-transform: capitalize;
}

pays {
	text-transform: uppercase;
}

pays::before {
	content: '- ';
	display: inline;
}

tel::before {
	content: 'tel : ';
	display: inline;
	font-size: 0.8em;
	font-weight: 700;
}

mail::before {
	content: 'e-mail : ';
	display: inline;
	font-size: 0.8em;
	font-weight: 700;
}

mail {
	display: block;
}

/* style des blocs "formation" et "experience" */
formation *, experience * {
	display: block;
}

intitule {
	text-align: center;
	font-weight: 700;
}

descriptif {
	font-weight: 300;
}

/* style du bloc "formation" */
formation {
	text-align: left;
}

date::before {
	content: 'date d’obtention : ';
	display: inline;
	font-size: 0.8em;
	font-weight: 700;
}

ecole::before {
	content: 'délivré par : ';
	display: inline;
	font-size: 0.8em;
	font-weight: 700;
}

/* style du bloc "experience" */
section:nth-child(3) article {
	display: block;
	max-width: 42.5%;
	margin: 0 auto -3px auto;
	border-top-style: dashed;
	border-bottom-style: none;
}

section:nth-child(3) article:first-child {
	margin-top: 20px;
	border-top-style: solid;
}

section:nth-child(3) article:last-child {
	margin-bottom: 20px;
	border-bottom-style: solid;
}

datedebut,datefin {
	display: inline;
}

datedebut::before {
	content: 'de : ';
	display: inline;
	font-size: 0.8em;
	font-weight: 700;
}

datefin::before {
	content: 'à : ';
	display: inline;
	font-size: 0.8em;
	font-weight: 700;
}
