/* structure du document */
* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

section {
	display: block;
	width: 90%;
	margin: 0 auto -3px auto;
	padding: 20px;
	background-color: #F5F5F5;
	border-width: 3px;
	border-color:#E3E3E3;
	border-top-style: dashed;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-style: solid;
	border-radius: 15px;
}

article {
	display: block;
	max-width: 42.5%;
	margin: 10px auto;
	padding: 20px;
	background-color: #CDCDCD;
	border: 3px solid #BBBBBB;
	border-radius: 15px;
}

/* style du texte */
p {
	display: inline;
	font-size: 0.8em;
	font-weight: 700;
}

.boring {
	display: inline;
	font-size: 1em;
	font-weight: 400;
}

.small {
	font-weight: 300;
}

h2 {
	text-align: center;
	font-size: 1em;
	margin: 0;
	font-weight: 700;
	display: block;
}

/* casse automatique */
.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

/* style de la première section (articles "identite" et "adresse") */
section:first-child {
	display: flex;
	margin-top: 20px;
	border-top-style: solid;
}

/* style de la dernière section (articles "competence" et "experience") */
section:last-child {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 20px;
	border-bottom-style: solid;
}

section:last-child div {
	width: 42.5%;
}

section:last-child article {
	max-width: 100%;
	width: 100%;
	margin: 0 0 -3px 0;
	border-top-style: dashed;
	border-bottom-style: none;
}

section:last-child div:first-child article,
section:last-child div:last-child article:first-child {
	margin-top: 20px;
	border-top-style: solid;
}

section:last-child div:first-child article,
section:last-child div:last-child article:last-child {
	margin-bottom: 20px;
	border-bottom-style: solid;
}

section:last-child div:first-child article p {
	font-weight: 700;
}

section:last-child div:first-child article p:nth-last-child(2) {
	visibility: hidden;
}
